.Copos{
  position: absolute;
  display: flex;
  left: 50%;
  bottom: 30px;
  transform: translateX(-50%);
}
.Copos li {
  list-style: none;
  display: inline-block;
  margin: 0 10px;
  cursor: pointer;
  transition: 0.5s;
}
.Copos li:hover {
  transform: translateY(-10%);
}
.Copos li img {
  max-width: 90px;
}