
/* header{
  height: 10%;
  padding:  20px 0;
} */
/* .center{
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  margin:  0 auto;
  padding: 0 2%;
} */
/* .logo{
  width: 40%;
} */


/* .menu {
  padding-top: 20px;
  width: 50%;
  text-align: right;
} */
/* 
.menu a{
  color: black;
  text-decoration: none;
  font-size: larger;
  font-weight: bold;
  margin-right: 15px;
  transition: 0.5s;
  cursor: pointer;
} */
#verde a:hover {
  color:  #017143;
}
#rosa a:hover {
color: rgb(231, 165, 174);

}
#violeta a:hover {
  color: #c2479d;


}