.apresentacao {
  font-size: 45px;
  font-family: 'Times New Roman', Times, serif;
}
.green {
  color:#017143 ;
}
.pink{
color: rgb(231, 165, 174);
}
.violete {
  color: #c2479d;
}
.paragrafo {
  width: 500px;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* .botao {
  margin: 10px 0;
  width: 200px;
  height: 50px;
  border: none;
  background-color:#017143 ;
  color: white;
  border-radius: 15px;
  font-size: 19px;
  font-weight: 600;
  transition: 1s;
  cursor: pointer;

}
.botao:hover {
background-color: rgb(243, 242, 242);
color: #017143;
} */