.apresentacao {
  font-size: 45px;
  font-family: 'Times New Roman', Times, serif;
}
.green {
  color:#017143 ;
}
.pink{
color: rgb(231, 165, 174);
}
.violete {
  color: #c2479d;
}
.paragrafo {
  width: 500px;
  font-size: large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
