body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  box-sizing: border-box;
 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html {
  height: 100%;
  overflow-y: hidden;
  /* overflow-x: hidden; */
}

.App {
  width: 100vw;
  height: 100vh;
}
.center{
  display: flex;
  flex-wrap: wrap;
  max-width: 1280px;
  margin:  0 auto;
  padding: 0 2%;
}
